<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.product.mapper.ProductMapper">
    <select id="selectCount" resultType="int">
        select count(product_id) from t_product;
    </select>
    <select id="selectProductByPage" resultType="common.pojo.Product">
        select * from t_product limit #{start},#{rows};
    </select>
    <select id="selectProductById" resultType="common.pojo.Product">
        select * from t_product where product_id=#{productId};
    </select>
    <insert id="insertProduct">
        insert into t_product (
        product_id,
        product_name,
        product_price,
        product_category,
        product_imgurl,
        product_num,
        product_description) values (
        #{productId},
        #{productName},
        #{productPrice},
        #{productCategory},
        #{productImgurl},
        #{productNum},
        #{productDescription}
        );
    </insert>
    <update id="updateProduct">
        update t_product set
        product_name=#{productName},
        product_price=#{productPrice},
        product_category=#{productCategory},
        product_imgurl=#{productImgurl},
        product_num=#{productNum},
        product_description=#{productDescription}
        where product_id=#{productId};
    </update>
</mapper>












